@import "tailwindcss";
@import "./styles/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        background: var(--background);
        font-family: var(--font-brand);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        color: var(--text-main);
    }

    p {
        color: var(--text-sub);
    }
}
